@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

body {
    display: flex;
    justify-content: center;
    color: #fff;
    background-color: #282828;
}

.home {
    width: 70%;
    height: 100vh;
}

.home__top {
    padding: 15px 0;
    display: flex;
    align-items: center;
    font-size: 25px;
    justify-content: space-between;
}

.home__top img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #fff;
}

.home__bottom {
    display: flex;
    flex-direction: column;
    /* margin-top: 100px; */
}

.home__bottom__title {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    /* line-height: 60px; */
}

.home__bottom__section {
    width: 100%;
    padding: 20px 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 25px;
    color: #000;
    background-color: #fff;
}

.whoami {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.whoami__top {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.whoami__title {
    font-weight: 600;
    font-size: 32px;
}

.whoami__title__line {
    width: 75px;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.4)
}

.whoami__bottom p {
    font-size: 20px;
    text-align: center;
}

.navBtn {
    width: 200px;
    height: 70px;
    position: absolute;
    border: none;
    font-weight: 600;
    font-size: 20px;
    border-radius: 25px;
    cursor: pointer;
}

#previousPageBtn {
    bottom: 25px;
    left: 25px;
}

#nextPageBtn {
    bottom: 25px;
    right: 25px;
}

.work {
    display: flex;
    align-items: center;
    gap: 15px;
}

.work__left img {
    width: 75px;
    height: 75px;
}

.work__right {
    margin-top: -8px;
}

.work__right p {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.4)
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.contact input, .contact textarea {
    width: 600px;
    padding: 10px;
    border: none;
    font-size: 24px;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.1);
}

.contact input[type="submit"] {
    cursor: pointer;
}